#LR .default-color0.chart-series-line { -fx-stroke: blue; }
#LR .default-color0.chart-line-symbol { -fx-background-color: transparent, transparent; }
#LR .default-color0.chart-legend-item-symbol{-fx-background-color: blue; }

#LR .default-color1.chart-series-line { -fx-stroke: transparent; }
#LR .default-color1.chart-legend-item-symbol{-fx-background-color: MediumBlue; }
#LR .default-color1.chart-line-symbol { 
    -fx-background-color: transparent, MediumBlue;
   	-fx-background-size: 0.2px;
}
#LR .default-color2.chart-series-line { -fx-stroke: red; }
#LR .default-color2.chart-line-symbol {-fx-background-color: transparent, transparent;}
#LR .default-color2.chart-legend-item-symbol{-fx-background-color: red;}




#welzl .chart-bubble.series0.data0.default-color0 {
    -fx-bubble-fill: transparent;
    -fx-bubble-color: black;
    -fx-bubble-outline: 1px;
}


